// Reminder: Colors 


// Tag: Primary 

$blue: #14181F;
$blue-dark: #0A0C10;
$blue-light: #272A31;


// Tag: Secondary 

$red: #B31317;
$red-dark: #EA1D22;
$red-light: #F02A2F;


// Tag: White 

$white: #EDF1F7;
$white-dark: #F4F7FB;
$white-light: #F4F7FB;


// Tag: Grey 

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;